.navigation__wrap {
	position: fixed;
	top: 0;
	background: rgba(23,27,29,.1)!important;
}
.result {
	font-size: initial;
	color: #fff;
}


@media (max-width: 1200px) {
	.conteiner {
		width: 960px!important;
	}
}
@media (max-width: 992px) {
	.conteiner {
		width: 720px!important;
	}
}
@media (max-width: 768px) {
	.conteiner {
		width: 540px!important;
	}
}
@media (max-width: 576px) {
	.conteiner {
		width: 80%!important;
	}
}